.button-examples .button,
.link-examples .button-appearance {
  max-width: 16rem;
}

.button--focused {
  outline: none;
  box-shadow: 0 0 0 1px var(--colour-white), 0 0 0 2px var(--colour-primary-dark),
    0 0 4px 4px var(--colour-primary-light);
}

@media (min-width: 768px) {
  .button-examples {
    text-align: center;
    align-items: center;
  }

  .button-examples .button,
  .button-examples .button-appearance {
    width: 12rem;
  }
}

@media (min-width: 1024px) {
  .button-examples .button,
  .button-examples .button-appearance {
    width: 16rem;
  }
}
