.card-showcase__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@media (min-width: 678px) {
  .card-showcase__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
