.icon {
  width: var(--spacing-md);
  height: var(--spacing-md);
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  max-width: 100%;
  max-height: 100%;
}

.icon path,
.icon circle,
.icon rect,
.icon polygon {
  fill: inherit;
  stroke: inherit;
}
