.search-box {
  position: relative;
  display: flex;
  align-items: center;
  border: var(--search-box-border);
  border-radius: var(--search-box-radius);
  background-color: var(--search-box-bg);
  overflow: hidden;
}

.search-box .input-container {
  flex: 1;
}

.search-box__input {
  width: 100%;
  padding-right: 40px; /* Space for the button */
  border: none;
  background-color: transparent;
}

/* Remove focus style from input as search box gets the focus style */
.search-box__input:focus-visible {
  box-shadow: none;
}

.search-box__button {
  position: absolute;
  top: 50%;
  right: var(--search-box-button-offset);
  transform: translateY(-50%);
  padding: var(--search-box-button-padding);
  background-color: transparent;
  border: none;
}

.search-box__icon:focus {
  outline: none;
}

.search-box__button:hover {
  background-color: transparent;
}

/* Remove the native "X" clear button in Chrome, Safari, and Edge */
.search-box__input::-webkit-search-decoration,
.search-box__input::-webkit-search-cancel-button,
.search-box__input::-webkit-search-results-button,
.search-box__input::-webkit-search-results-decoration {
  display: none;
}
