.text-showcase__example {
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  background-color: var(--colour-gray-100);
}

.text-showcase__example--dark {
  background-color: var(--colour-gray-500);
}

.atom-section .text-showcase__example--no-margin {
  margin-bottom: 0;
}
