.text-showcase__example {
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  background-color: var(--colour-gray-100);
}

.text-showcase__example--inverted {
  background-color: var(--colour-gray-500);
}

[data-theme="dark"] .text-showcase__example {
  background-color: var(--colour-gray-600);
}

[data-theme="dark"] .text-showcase__example--inverted {
  background-color: var(--colour-gray-300);
}
