.heading-examples,
.paragraph-dark-bg {
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
}

.heading-examples {
  background-color: var(--colour-gray-100);
}

.heading-examples .heading-2 {
  margin-bottom: 0;
}

.paragraph-dark-bg {
  background-color: var(--colour-gray-500);
}
