.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-text);
  margin: 0;
}

h1,
.heading--1 {
  font-size: var(--heading-font-size-h1);
  font-weight: var(--heading-font-weight-h1);
  line-height: var(--heading-line-height-h1);
}

h2,
.heading--2 {
  font-size: var(--heading-font-size-h2);
  font-weight: var(--heading-font-weight-h2);
  line-height: var(--heading-line-height-h2);
}

h3,
.heading--3 {
  font-size: var(--heading-font-size-h3);
  font-weight: var(--heading-font-weight-h3);
  line-height: var(--heading-line-height-h3);
}

h4,
.heading--4 {
  font-size: var(--heading-font-size-h4);
  font-weight: var(--heading-font-weight-h4);
  line-height: var(--heading-line-height-h4);
}

h5,
.heading--5 {
  font-size: var(--heading-font-size-h5);
  font-weight: var(--heading-font-weight-h5);
  line-height: var(--heading-line-height-h5);
}

h6,
.heading--6 {
  font-size: var(--heading-font-size-h6);
  font-weight: var(--heading-font-weight-h6);
  line-height: var(--heading-line-height-h6);
}
