.definition-list {
  display: flex;
  flex-direction: column;
  gap: var(--definition-spacing-list-items);
}

.definition-list__group {
  display: flex;
}

.definition-list__group:last-child {
  margin-bottom: 0;
}

.definition-list__term::after {
  content: ":";
}

.definition-list__description {
  margin-left: var(--definition-spacing-list-description);
}
