.definition-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0-5);
}

.definition-list__group {
  display: flex;
}

.definition-list__group:last-child {
  margin-bottom: 0;
}

.definition-list__term::after {
  content: ":";
}

.definition-list__description {
  margin-left: var(--spacing-0-25);
}
