.modal {
  display: flex;
  align-items: flex-start;
  gap: var(--modal-gap);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--modal-bg);
  padding: var(--modal-padding);
  border-radius: var(--modal-radius);
  width: var(--modal-width);
  max-width: var(--modal-max-width);
  max-height: var(--modal-max-height);
  overflow-y: auto; /* Add a scrollbar inside the modal if the content goes over max height */
}

.modal__wrapper {
  flex: 1; /* Push button to the far right */
}

.modal .heading {
  flex-shrink: 0;
  margin-bottom: var(--modal-heading-margin);
  color: var(--modal-heading);
  font-size: var(--modal-heading-font-size);
  font-weight: var(--modal-heading-font-weight);
  line-height: var(--modal-heading-line-height);
}
