.input-container {
  position: relative;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--control-spacing-padding);
  border-radius: var(--control-radius);
  border: var(--control-border);
  color: var(--control-text);
  background-color: var(--control-bg);
}

/* Placeholder */
.input::placeholder {
  color: var(--control-text-placeholder);
}

/* Error */
.input--error {
  border-color: var(--control-error-border-color);
}

/* Disabled */
.input:disabled {
  cursor: not-allowed;
  border: var(--control-disabled-border);
  color: var(--control-disabled-text);
  background-color: var(--control-disabled-bg);
}

/* Custom icon */
.input__icon {
  position: absolute;
  top: 50%;
  right: var(--input-spacing-icon);
  transform: translateY(-50%);
  pointer-events: none; /* Clicks go through to the native calendar picker icon */
  width: var(--input-icon-size);
  height: var(--input-icon-size);
  color: var(--input-icon);
}

/* Hide native date icon but keep it functional */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px; /* Covers the area of the custom icon */
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0; /* Hidden but clickable */
}
