.input {
  max-width: 100%;
  padding: var(--spacing-0-5);
  border-radius: var(--radius-sm);
  border: var(--border-primary);
}

/* Error */
.input--error {
  border: 1px solid var(--colour-error);
}

/* Disabled */
.input:disabled {
  cursor: not-allowed;
  border: var(--border-disabled);
  color: var(--colour-disabled-text);
  background-color: var(--colour-disabled-bg);
}
