.radio {
  /* Remove the default browser styling */
  appearance: none;
  -webkit-appearance: none;

  /* Custom radio box*/
  margin: 0;
  width: var(--spacing-1);
  height: var(--spacing-1);
  border: var(--border-primary);
  border-radius: var(--radius-full);
  background-color: var(--colour-white);
  cursor: pointer;
  flex-shrink: 0;
}

/* Radio icon */
.radio__icon {
  position: absolute;
  transform: scale(0.7);
  pointer-events: none; /* Clicks go through to the input */
  opacity: 0;
  transition: all 0.1s ease-in-out;
  color: var(--colour-primary);
}

/* Checked */
.radio:checked + .radio__icon {
  opacity: 1;
  transform: scale(1);
}

/* Error */
.radio--error {
  border-color: var(--colour-error);
  background-color: var(--colour-error-transparent);
}

.radio--error:checked {
  border-color: var(--colour-error);
  background-color: var(--colour-error-transparent);
}

.radio--error:checked + .radio__icon {
  opacity: 1;
  transform: scale(1);
  color: var(--colour-error);
}

/* Disabled */
.radio:disabled {
  cursor: not-allowed;
  border: var(--border-disabled);
  background-color: var(--colour-disabled-bg);
}

.selection-control__field:has(.radio:disabled) .label {
  cursor: not-allowed;
  color: var(--colour-disabled-text);
}

.radio:disabled:checked {
  border: var(--border-disabled);
  background-color: var(--colour-disabled-bg);
}

.radio:disabled:checked + .radio__icon {
  opacity: 1;
  transform: scale(1);
  color: var(--colour-disabled-text);
}
