.helper-text {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-0-25);
}

.helper-text.helper-text--error {
  margin-top: var(--spacing-0-5);
}

.helper-text__message {
  display: block;
  color: var(--helper-text-text);
}

.helper-text--error .helper-text__message {
  color: var(--error-text);
}

/* Align error icon to centre of messages's first line */
.helper-text__icon-wrapper {
  height: var(
    --icon-alignment-height
  ); /* This is the same as the line height, to centre it appropriately */
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper-text__icon {
  width: var(--spacing-1-5);
  height: var(--spacing-1-5);
  color: var(--error-icon);
}
