.button-group .button {
  max-width: 16rem;
}

@media (min-width: 768px) {
  .button-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-examples {
    text-align: center;
  }
}
