.button-group .button,
.link-group .button-appearance {
  max-width: 16rem;
}

.button--focused {
  outline: none;
  box-shadow: 0 0 0 1px var(--colour-white), 0 0 0 2px var(--colour-primary-dark),
    0 0 4px 4px var(--colour-primary-light);
}

@media (min-width: 768px) {
  .button-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-examples {
    text-align: center;
  }
}
