.text-area {
  width: 100%;
  height: var(--size-text-area-height);
  padding: var(--spacing-input-padding);
  display: block;
  border-radius: var(--radius-main);
  border: var(--border-primary);
  box-sizing: border-box;
  resize: vertical;
  color: var(--text-main);
  background-color: var(--control-bg);
}

/* Placeholder */
.text-area::placeholder {
  color: var(--text-placeholder);
}

/* Error */
.text-area--error {
  border-color: var(--error-border);
}

/* Disabled */
.text-area:disabled {
  cursor: not-allowed;
  border: var(--border-disabled);
  color: var(--disabled-text);
  background-color: var(--disabled-bg);
}
