.text-area {
  width: 100%;
  min-height: var(--text-area-height);
  padding: var(--control-spacing-padding);
  display: block;
  border-radius: var(--control-radius);
  border: var(--control-border);
  box-sizing: border-box;
  resize: vertical;
  color: var(--control-text);
  background-color: var(--control-bg);
}

/* Placeholder */
.text-area::placeholder {
  color: var(--control-text-placeholder);
}

/* Error */
.text-area--error {
  border-color: var(--control-error-border-color);
}

/* Disabled */
.text-area:disabled {
  cursor: not-allowed;
  border: var(--control-disabled-border);
  color: var(--control-disabled-text);
  background-color: var(--control-disabled-bg);
}
