.atoms-page__showcases-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-layout);
}

.showcase-item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-component-inner);
}

.showcase-item__example {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
