.button-examples {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.button-group .button {
  max-width: 16rem;
}

@media (min-width: 768px) {
  .button-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-examples {
    text-align: center;
  }
}