.component-section {
  margin-bottom: var(--spacing-xl);
}

.button-examples {
  display: flex;
  flex-direction: column;
}

.button-examples:first-of-type {
  .heading-3 {
    margin-top: 0;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.button-group .button {
  max-width: 16rem;
}

.heading-examples {
  background-color: var(--colour-gray-100);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-sm);
}

.icon.large-coloured {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  fill: var(--colour-success);
}

@media (min-width: 768px) {
  .button-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-examples {
    text-align: center;
  }
}