.component-section {
  margin-bottom: var(--spacing-xl);
}

.component-section .heading-2 {
  margin-bottom: var(--spacing-sm);
}

.button-group .button {
  max-width: 16rem;
}

.heading-examples {
  background-color: var(--colour-gray-50);
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
}

.icon-example {
  margin-bottom: var(--spacing-md);
}

.icon.large-coloured {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  fill: var(--colour-success);
}

@media (min-width: 768px) {
  .button-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-examples {
    text-align: center;
  }
}