.homepage .heading--1 {
  text-align: center;
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

@media (min-width: 768px) {
  .components-classification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
