.button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

/* Primary */
.button--primary {
  background-color: var(--colour-primary);
  color: var(--colour-text-inverted);
  padding: var(--spacing-0-5) var(--spacing-1);
  border-radius: var(--spacing-0-375);
}

.button--primary:hover {
  background-color: var(--colour-primary-dark);
}

/* Secondary */
.button--secondary {
  background-color: var(--colour-secondary);
  color: var(--colour-text-inverted);
  padding: var(--spacing-0-5) var(--spacing-1);
  border-radius: var(--spacing-0-375);
}

.button--secondary:hover {
  background-color: var(--colour-secondary-dark);
}

/* Padding */
/* 8px 16px on mobile, 12px 24px on tablet */
.button__padding-size--small {
  padding: var(--spacing-0-5) var(--spacing-1);
}

/* 12px 24px on mobile, 16px 32px on tablet */
.button__padding-size--large {
  padding: var(--spacing-0-75) var(--spacing-1-5);
}

/* Border radius */
.button__border-radius--none {
  border-radius: 0;
}

.button__border-radius--small {
  border-radius: var(--spacing-0-375);
}

.button__border-radius--large {
  border-radius: var(--spacing-0-75);
}

/* Link */
.button--link,
.button--link:visited {
  color: var(--colour-text-black);
}

.button-appearance {
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.button-appearance:visited {
  color: var(--colour-text-inverted);
}

/* Disabled */
.button:disabled {
  cursor: not-allowed;
  color: var(--colour-disabled-text);
  background-color: var(--colour-disabled-bg);
  border-color: var(--colour-disabled-border);
  border: var(--border-disabled);
}

.button:disabled:hover {
  background-color: var(--colour-disabled--bg-hover);
}

@media (min-width: 768px) {
  .button__padding-size--small {
    padding: var(--spacing-0-75) var(--spacing-1-5);
  }

  .button__padding-size--large {
    padding: var(--spacing-1) var(--spacing-2);
  }
}
