.button {
  cursor: pointer;
  border: none;
}

/* Primary */
.button--primary {
  background-color: var(--colour-primary);
  color: var(--colour-text-inverted);
}

.button--primary:hover {
  background-color: var(--colour-primary-hover);
}

/* Secondary */
.button--secondary {
  background-color: var(--colour-secondary);
  color: var(--colour-text-inverted);
}

.button--secondary:hover {
  background-color: var(--colour-secondary-hover);
}

/* Padding */
/* 8px 16px on mobile, 12px 24px on tablet */
.button__padding-size--small {
  padding: var(--spacing-0-5) var(--spacing-1);
}

/* 12px 24px on mobile, 16px 32px on tablet */
.button__padding-size--large {
  padding: var(--spacing-0-75) var(--spacing-1-5);
}

/* Border radius */
.button__border-radius--none {
  border-radius: 0;
}

.button__border-radius--small {
  border-radius: var(--spacing-0-375);
}

.button__border-radius--large {
  border-radius: var(--spacing-0-75);
}

/* Link */
.button--link {
  color: var(--colour-text-black);
}

/* Disabled */
.button:disabled {
  cursor: not-allowed;
  color: var(--colour-text-black);
  background-color: var(--colour-gray-100);
  border: 1px solid var(--colour-gray-300);
}

.button:disabled:hover {
  background-color: var(--colour-gray-300);
}

@media (min-width: 768px) {
  .button__padding-size--small {
    padding: var(--spacing-0-75) var(--spacing-1-5);
  }

  .button__padding-size--large {
    padding: var(--spacing-1) var(--spacing-2);
  }  
}