.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border: var(--border-primary);
  box-sizing: border-box;
}

/* Primary */
.button--primary {
  color: var(--button-primary-text);
  background-color: var(--button-primary-bg);
  padding: var(--spacing-button-padding);
  border-radius: var(--radius-button);
  border-color: var(--button-primary-border);
}

.button--primary:hover {
  background-color: var(--button-primary-hover-bg);
}

/* Secondary */
.button--secondary {
  color: var(--button-secondary-text);
  background-color: var(--button-secondary-bg);
  padding: var(--spacing-button-padding);
  border-radius: var(--radius-button);
  border-color: var(--button-secondary-border);
}

.button--secondary:hover {
  background-color: var(--button-secondary-hover-bg);
}

/* Tertiary */
.button--tertiary {
  color: var(--button-tertiary-text);
  background-color: var(--button-tertiary-bg);
  padding: var(--spacing-button-padding);
  border-radius: var(--radius-button);
}

.button--tertiary:hover {
  color: var(--button-tertiary-hover-text);
  background-color: var(--button-tertiary-hover-bg);
}

/* Padding */
.button__padding-small {
  padding: var(--spacing-button-padding-sm);
}

.button__padding-large {
  padding: var(--spacing-button-padding-lg);
}

/* Border radius */
.button--radius-none {
  border-radius: 0;
}

.button--radius-small {
  border-radius: var(--radius-button);
}

.button--radius-large {
  border-radius: var(--radius-button-lg);
}

/* Link */
.button--link,
.button--link:visited {
  color: var(--button-link-text);
  border: none;
}

.button-appearance {
  text-decoration: none;
  text-align: center;
}

.button-appearance.button--primary:visited {
  color: var(--button-primary-text);
}

.button-appearance.button--secondary:visited {
  color: var(--button-secondary-text);
}

/* Disabled */
.button:disabled {
  cursor: not-allowed;
  color: var(--disabled-text);
  background-color: var(--disabled-bg);
  border-color: var(--disabled-border);
  border: var(--border-disabled);
}

.button:disabled:hover {
  background-color: var(--disabled--bg-hover);
}
