.grid-showcase {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.grid-showcase__element {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  text-align: center;
  border-radius: var(--radius-sm);
  background-color: var(--color-primary-600-a10);
}

[data-theme="dark"] .grid-showcase__element {
  background-color: var(--color-primary-800);
}
