.card {
  position: relative;
  padding: var(--card-padding);
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: var(--card-radius);
  transition: box-shadow var(--motion-duration-fast) var(--motion-easing-standard);
}

.card__image {
  margin-bottom: var(--card-image-spacing);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: var(--card-spacing-text);
}

.card__heading {
  color: var(--card-heading);
}

.card__link {
  color: var(--card-heading);
  text-decoration: none;
}

.card__link:focus-visible {
  outline: none;
}

.card__link:visited {
  color: var(--card-heading);
}

.card__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
