.selection-control__field {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-0-5);
}

.selection-control__field .label {
  margin: 0;
  cursor: pointer;
}

.selection-control__selector {
  position: relative;
  /* Align checkbox to centre of label's first line */
  height: var(
    --icon-alignment-height
  ); /* This is the same as the line height, to centre it appropriately */
  display: flex;
  align-items: center;
  justify-content: center;
}
