:root {
  /* Primary */
  --colour-primary: #0055af;
  --colour-primary-hover: #00458F;
  --colour-primary-light: #0083E5;
  --colour-primary-dark: #013976;

  /* Secondary */
  --colour-secondary: #883244;
  --colour-secondary-hover: #993B4E;
  --colour-secondary-light: #BA455D;
  --colour-secondary-dark: #5D222F;

  /* Neutral */
  --colour-neutral: #1F425E;

  /* White */
  --colour-white: #F7F7F7;

  /* Black */
  --colour-black: #1A1D20;

  /* Grey */
  --colour-gray-50: #E4E6E7;
  --colour-gray-100: #BDC1C3;
  --colour-gray-300: #9BA0A3;
  --colour-gray-500: #595D60;

  /* Alerts */
  --colour-success: #28a745;
  --colour-warning: #ffc107;
  --colour-error: #dc3545;
  --colour-info: #17a2b8;

  /* Text */
  --colour-text-black: var(--colour-black);
  --colour-text-inverted: var(--colour-white);
}

