@import "./color-variables.css";

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-neutral {
  color: var(--color-neutral);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-gray-100 {
  background-color: var(--color-gray-100);
}

.bg-gray-300 {
  background-color: var(--color-gray-300);
}

.bg-gray-500 {
  background-color: var(--color-gray-500);
}
