/* ==========================================================================
   1. PRIMITIVES
   ========================================================================== */
:root {
  /* Primary */
  --colour-primary: #5925dc;
  --colour-primary-light: #6938ef;
  --colour-primary-lighter: #7a5af8;
  --colour-primary-lightest: #9b8afb;
  --colour-primary-dark: #4a1fb8;
  --colour-primary-darker: #3e1c96;
  --colour-primary-transparent: rgba(89, 37, 220, 0.3);
  --colour-primary-transparent-light: rgba(89, 37, 220, 0.1);

  /* Secondary */
  --colour-secondary: #9e165f;
  --colour-secondary-light: #c11574;
  --colour-secondary-dark: #851651;
  --colour-secondary-darker: #740d44;

  /* Neutral */
  --colour-neutral: #1f425e;

  /* White */
  --colour-white: #fdfdfd;

  /* Black */
  --colour-black: #1a1d20;

  /* Grey */
  --colour-gray-50: #f5f5f5;
  --colour-gray-100: #e9eaeb;
  --colour-gray-200: #d5d7da;
  --colour-gray-300: #a4a7ae;
  --colour-gray-400: #717680;
  --colour-gray-500: #535862;
  --colour-gray-600: #414651;
  --colour-gray-700: #252b37;
  --colour-gray-800: #101828;

  /* Alerts */
  --colour-success: #12b76a;
  --colour-warning: #f79009;
  --colour-error: #dd2214;
  --colour-error-light: #f0665c;
  --colour-error-transparent: rgba(240, 68, 56, 0.2);
  --colour-error-transparent-light: rgba(240, 68, 56, 0.1);
  --colour-info: #2e90fa;
}

/* ==========================================================================
   2. SEMANTIC TOKENS
   ========================================================================== */

:root {
  /* Text */
  --text-main: var(--colour-black);
  --text-inverted: var(--colour-white);
  --text-placeholder: var(--colour-gray-400);

  /* Border */
  --border-main: var(--colour-primary);

  /* Background */
  --page-bg: var(--colour-white);
  --control-bg: var(--page-bg);
  --control-bg-checked: var(--colour-primary);

  /* Focus */
  --focus-spacer: var(--page-bg);
  --focus-ring: var(--colour-primary-dark);
  --focus-glow: var(--colour-primary-light);

  /* Disabled */
  --disabled-text: var(--colour-gray-400);
  --disabled-bg: var(--colour-gray-100);
  --disabled--bg-hover: var(--colour-gray-200);
  --disabled-border: var(--colour-gray-300);

  /* Error */
  --error-text: var(--colour-error);
  --error-icon: var(--colour-error);
  --error-border: var(--colour-error);
  --error-bg: var(--colour-error-transparent-light);
}

/* ==========================================================================
   3. COMPONENTS / ELEMENTS TOKENS
   ========================================================================== */

:root {
  /* Button - primary */
  --button-primary-text: var(--text-inverted);
  --button-primary-bg: var(--colour-primary);
  --button-primary-hover-bg: var(--colour-primary-dark);

  /* Button -secondary */
  --button-secondary-text: var(--text-inverted);
  --button-secondary-bg: var(--colour-secondary);
  --button-secondary-hover-bg: var(--colour-secondary-dark);

  /* Button - link */
  --button-link-text: var(--text-main);

  /* Checkbox */
  --checkbox-icon: var(--page-bg);

  /* Code */
  --code-bg: var(--colour-gray-50);

  /* Helper text */
  --helper-text-text: var(--colour-gray-600);

  /* Input */
  --input-icon: var(--text-main);

  /* List */
  --list-marker: var(--colour-primary);

  /* Table */
  --table-header: var(--colour-primary-transparent);
  --table-row: var(--colour-primary-transparent-light);
}

/* ==========================================================================
   4. DARK THEME TOKENS
   ========================================================================== */

/* Dark theme */
[data-theme="dark"] {
  /* --- SEMANTIC --- */
  /* Text */
  --text-main: var(--colour-white);
  --text-inverted: var(--colour-black);
  --text-placeholder: var(--colour-gray-300);

  /* Border */
  --border-main: var(--colour-primary-lightest);

  /* Background */
  --page-bg: var(--colour-gray-700);
  --control-bg: var(--page-bg);
  --control-bg-checked: var(--colour-primary-lightest);

  /* Focus */
  --focus-ring: var(--colour-primary-light);
  --focus-glow: var(--colour-primary-light);

  /* Disabled */
  --disabled-text: var(--colour-gray-200);
  --disabled-bg: var(--colour-gray-600);
  --disabled--bg-hover: var(--colour-gray-700);

  /* Error */
  --error-text: var(--colour-error-light);
  --error-icon: var(--colour-error-light);
  --error-border: var(--colour-error-light);
  --error-bg: var(--colour-error-transparent);

  /* --- COMPONENTS / ELEMENTS --- */
  /* Button - primary */
  --button-primary-text: var(--text-main);
  --button-primary-bg: var(--colour-primary-dark);
  --button-primary-hover-bg: var(--colour-primary-darker);

  /* Button - secondary */
  --button-secondary-text: var(--text-main);
  --button-secondary-bg: var(--colour-secondary-dark);
  --button-secondary-hover-bg: var(--colour-secondary-darker);

  /* Checkbox */
  --checkbox-icon: var(--page-bg);

  /* Code */
  --code-bg: var(--colour-gray-600);

  /* Helper text */
  --helper-text-text: var(--colour-gray-300);

  /* List */
  --list-marker: var(--colour-primary-lightest);

  /* Table */
  --table-header: var(--colour-primary-darker);
  --table-row: var(--colour-primary-transparent);
}
