:root {
  /* Primary */
  --colour-primary: #3538CD;
  --colour-primary-light: #444CE7;
  --colour-primary-dark: #2D31A6;

  /* Secondary */
  --colour-secondary: #9E165F;
  --colour-secondary-light: #C11574;
  --colour-secondary-dark: #851651;

  /* Neutral */
  --colour-neutral: #1F425E;

  /* White */
  --colour-white: #FDFDFD;

  /* Black */
  --colour-black: #1A1D20;

  /* Grey */
  --colour-gray-50: #F5F5F5;
  --colour-gray-100: #E9EAEB;
  --colour-gray-200: #D5D7DA;
  --colour-gray-300: #A4A7AE;
  --colour-gray-400: #717680;
  --colour-gray-500: #535862;

  /* Alerts */
  --colour-success: #28a745;
  --colour-warning: #ffc107;
  --colour-error: #dc3545;
  --colour-info: #17a2b8;

  /* Text */
  --colour-text-black: var(--colour-black);
  --colour-text-inverted: var(--colour-white);
}

