*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--text-main);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--page-bg);
}

img,
picture,
video,
svg {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dd,
dl {
  margin: 0;
}

code {
  font-size: var(--font-size-sm);
  background-color: var(--code-bg);
  border-radius: var(--radius-main);
  padding-right: var(--spacing-code-lat-padding);
  padding-left: var(--spacing-code-lat-padding);
}

/* Focus */
.button:focus-visible,
.input:focus-visible,
.checkbox[type="checkbox"]:focus-visible,
.text-area:focus-visible,
.video:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 1px var(--focus-spacer),
    0 0 0 2px var(--focus-ring),
    0 0 4px 4px var(--focus-glow);
}

/* Disabled */
:disabled,
.is-disabled {
  cursor: not-allowed;
  color: var(--disabled-text);
  background-color: var(--disabled-bg);
  border-color: var(--disabled-border);
  border: var(--border-disabled);
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
