html {
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--colour-white);
}

img,
picture,
video,
svg {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dd,
dl {
  margin: 0;
}

code {
  font-size: var(--font-size-sm);
  background-color: var(--colour-gray-50);
  border-radius: var(--radius-sm);
  padding-right: var(--spacing-0-25);
  padding-left: var(--spacing-0-25);
}

/* Focus */
.button:focus-visible,
.input:focus-visible,
.checkbox[type="checkbox"]:focus-visible,
.text-area:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--colour-white), 0 0 0 2px var(--colour-primary-dark),
    0 0 4px 4px var(--colour-primary-light);
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
