:root {
  /* Font family */
  --font-family-base: "Familjen Grotesk", sans-serif;
  --font-family-heading: "Bitter", serif;

  /* Font size - Responsive (mobile defaults) */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line height */
  --line-height-sm: 1.25;
  --line-height-base: 1.5;
  --line-height-lg: 1.75;

  /* Icon 'first-line anchor' used to align icons to the first line of text. This variable 
  returns the line height in px, which shall be applied to the icon's wrapper height and then 
  centre the icon within it's wrapper (e.g. align checkbox to label's first line) */
  --icon-alignment-height: calc(var(--font-size-base) * var(--line-height-base));
}

/* Font size - Desktop overrides*/
@media (min-width: 1024px) {
  :root {
    --font-size-xs: 0.875rem; /* 14px */
    --font-size-sm: 1rem; /* 16px */
    --font-size-base: 1.125rem; /* 18px */
    --font-size-lg: 1.25rem; /* 20px */
    --font-size-xl: 1.5rem; /* 24px */
    --font-size-2xl: 1.875rem; /* 30px */
    --font-size-3xl: 2.25rem; /* 36px */
    --font-size-4xl: 2.625rem; /* 42px */
  }
}
