.checkbox {
  /* Remove the default browser styling */
  appearance: none;
  -webkit-appearance: none;

  /* Custom box */
  margin: 0;
  width: var(--control-size);
  height: var(--control-size);
  border: var(--control-border);
  border-radius: var(--checkbox-radius);
  background-color: var(--control-bg);
  cursor: pointer;
  flex-shrink: 0;
}

/* Checkmark itself */
.checkbox__icon {
  position: absolute;
  transform: scale(0.5);
  pointer-events: none; /* Clicks go through to the input */
  opacity: 0;
  transition: all 0.1s ease-in-out;
  color: var(--checkbox-icon);
}

/* Checked */
.checkbox:checked {
  background-color: var(--control-bg-checked);
}

.checkbox:checked + .checkbox__icon {
  opacity: 1;
  transform: scale(0.8);
}

/* Error */
.checkbox--error {
  border-color: var(--control-error-border-color);
  background-color: var(--control-error-bg);
}

.checkbox--error:checked {
  border-color: var(--control-error-border-color);
  background-color: var(--control-error-bg);
}

.checkbox--error:checked + .checkbox__icon {
  opacity: 1;
  transform: scale(0.8);
  color: var(--control-error-border-color);
}

/* Disabled*/
.checkbox:disabled {
  cursor: not-allowed;
  border: var(--control-disabled-border);
  background-color: var(--control-disabled-bg);
}

.selection-control__field:has(.checkbox:disabled) .label {
  cursor: not-allowed;
  color: var(--control-disabled-text);
}

.checkbox:disabled:checked {
  border: var(--control-disabled-border);
  background-color: var(--control-disabled-bg);
}

.checkbox:disabled:checked + .checkbox__icon {
  opacity: 1;
  transform: scale(0.8);
  color: var(--checkbox-disabled-icon);
}
