.checkbox {
  /* Remove the default browser styling */
  appearance: none;
  -webkit-appearance: none;

  /* Custom box */
  margin: 0;
  width: var(--spacing-1);
  height: var(--spacing-1);
  border: var(--border-primary);
  border-radius: var(--radius-xs);
  background-color: var(--colour-white);
  cursor: pointer;
  flex-shrink: 0;
}

/* Checkmark itself */
.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  pointer-events: none; /* Clicks go through to the input */
  opacity: 0;
  transition: all 0.1s ease-in-out;
  color: var(--colour-white);
}

/* Checked */
.checkbox:checked {
  background-color: var(--colour-primary);
  border-color: var(--colour-primary);
}

.checkbox:checked + .checkbox-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.8);
}

/* Error */
.checkbox--error {
  border-color: var(--colour-error);
  background-color: var(--colour-error-transparent);
}

.checkbox--error:checked {
  border-color: var(--colour-error);
  background-color: var(--colour-error-transparent);
}

.checkbox--error:checked + .checkbox-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.8);
  color: var(--colour-error);
}

/* Disabled*/
.checkbox:disabled {
  cursor: not-allowed;
  border: var(--border-disabled);
  background-color: var(--colour-disabled-bg);
}

.checkbox-field:has(.checkbox:disabled) .label {
  cursor: not-allowed;
  color: var(--colour-disabled-text);
}

.checkbox:disabled:checked {
  border: var(--border-disabled);
  background-color: var(--colour-disabled-bg);
}

.checkbox:disabled:checked + .checkbox-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.8);
  color: var(--colour-disabled-text);
}
