.input-showcase__input-group .field-wrapper {
  grid-column: span 4;
}

.input-showcase__input-example {
  width: 100%;
}

.input-showcase__example--focused {
  outline: none;
  box-shadow:
    0 0 0 1px var(--colour-white),
    0 0 0 2px var(--colour-primary-dark),
    0 0 4px 4px var(--colour-primary-light);
}

@media (min-width: 768px) {
  .input-showcase__input-group .field-wrapper {
    grid-column: 1 / span 5;
  }
  .input-showcase__input-group .field-wrapper:nth-of-type(even) {
    grid-column-start: 7;
  }
}
