.accordion-item {
  position: relative;
  border: var(--accordion-item-border);
  border-radius: var(--accordion-item-radius);
}

.accordion-item__heading {
  color: var(--accordion-item-heading);
  padding: var(--accordion-item-heading-padding);
  padding-right: var(--clearance-action-icon-lg);
}

.accordion-item__button {
  background-color: transparent;
  border: none;
  height: var(--icon-alignment-height-heading);
  position: absolute;
  top: var(--accordion-item-button-offset-v);
  right: var(--accordion-item-button-offset-h);
}

.accordion-item__button:hover {
  background-color: transparent;
  border: none;
}

.accordion-item__icon {
  width: var(--accordion-item-icon-size);
  height: var(--accordion-item-icon-size);
  color: var(--accordion-item-icon);
  transform: rotate(0deg);
  transition: transform var(--motion-duration-standard) var(--motion-easing-standard);
}

.accordion-item__content-wrapper {
  display: grid;
  /* Default to collapsed accordion */
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--motion-duration-standard) var(--motion-easing-standard);
  overflow: hidden;
}

.accordion-item__content {
  position: relative;
  padding: var(--accordion-item-content-padding);
}

.accordion-item__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--accordion-item-separator-width);
  height: var(--accordion-item-separator-height);
  background-color: var(--accordion-item-separator);
}

/* Show content when accordion is expanded */
.accordion-item--expanded .accordion-item__content-wrapper {
  grid-template-rows: 1fr;
}

.accordion-item__content-inner {
  /* This inner div allows the grid to know the "natural" height */
  min-height: 0;
}

/* Accordion expanded */
.accordion-item--expanded .accordion-item__icon {
  transform: rotate(180deg);
}
