.icon.icon-showcase--large-coloured {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  color: var(--colour-success);
}

.icon-showcase__example {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
